.alinhamentogeral{
    display: flex;
    align-items:center;
    justify-content: center;
}

.configconteudo{
    border: 1px solid var(--cinzaclaro);
    border-radius: 5px;
    border-left: 10px solid var(--azulClaro);
    border-right: 10px solid var(--azulClaro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 40vw;
    padding: 20px;
}

/* .graficobarras {
    margin: 20px;
}
*/
.graficopizza {
    margin: 20px;
} 

#alinhamento_projetoSelect{
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

#projetoSelect_Dashboard {
    display: flex;
    margin-left: 8%;
    /* /* flex-direction: column; */
  
    /* padding-left: 30px; */
    /* padding-top: 30px; */
    /* padding-top: 20px; */
    /* height: 7vh; */
    width: 8%;
    border-radius: 7px;
    border: solid 1px;
    text-indent: 5px;
    font-size: 15px;
    color: var(--cinzaclaro);
    /* margin-left: 1%;
    margin-right: 3%; */
    margin-top: 2%;
  }

