/* MAIN */
main#lista-devs {
    /* background-image:
        linear-gradient(180deg, #060821 0%, #06082120 25%, #0608218f 80%, #060821 100%),
        url("../../assets/img/background_login.png"); */
    /* background-color: var(--cinzaclaro); */
    min-height: calc(100vh - 339px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container_lista_devs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    
}

.lista_devs_conteudo {
    width: 100%;
    max-width: 900px;

    padding: 10vh 0;
    margin-top: 6vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(114.61deg, #ffffff0d 1.08%, #ffffff1e 99.26%);
    box-shadow: 30px 30px 60px #00000080;
    border-top: 10px solid var(--azulClaro);
    border-bottom: 10px solid var(--azulClaro);
    border-left: 2px solid var(--cinzaclaro);
    border-right: 2px solid var(--cinzaclaro);
    border-radius: 10px;

    /* border: 1px solid #ffffffcc;
    border-radius: 80px; */
    backdrop-filter: blur(10px);
    /* color: var(--branco); */
    
}

#lista-devs h1 {
    /* font-family: var(--font1); */
    color: var(--cinzaclaro);
    font-size: 50px;
    text-align: center;
}

#lista-devs hr {
    margin: 20px auto;
    width: 80%;
    height: 4px;
    background-color: var(--azulClaro);
    border: none;
    border-radius: 50%;
}

.lista_devs_conteudo form {
    width: 85%;
    padding: 20px 0;
}

/* 
.wrapper_lista:checked~{

} */

.wrapper_lista {
    /* display: none; */
    width: 85%;
}

.wrapper_form {
    height: 95px;
    width: 85%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.wrapper_form label {
    /* font-family: var(--font2); */
    color: var(--cinzaclaro);
    text-transform: capitalize;
    font-size: 28px;
    padding-left: 3%;
    padding-bottom: 3%;
}

.campo-label input {

    height: 10vh;
    /* width: 90%; */


    padding: 5% 5% 5% 10%;

    border: 1px solid #909090;
    border-radius: 20px;

    background: linear-gradient(136deg, #ffffff1a 0%, #ffffff0b 100%);
    backdrop-filter: blur(15px);
    /* box-shadow: 30px 30px 60px 0px #00000080; */

    font-size: 16px;
    color: var(--cinzaclaro);
    caret-color: var(--cinzaclaro);
}

.campo-label input:focus-visible {
    outline: 2px solid white;
}

.campo-label button {
    width: 30%;

    border: 4px solid white;
    border-radius: 10px;
    padding-left: 4%;
    padding-right: 5%;
    

    background-color: transparent;
    color: var(--branco);
    background-color: var(--azulescuro);
    /* color: white; */
    /* font-family: var(--font1); */
    text-transform: uppercase;
}

.campo-label button:hover {
    background-color: #8a214f;
    cursor: pointer;
}

.campo-label {
    display: flex;
    justify-content: space-between;
}

.lista_devs_conteudo ul {
    list-style: none;
    
}

.lista_devs_conteudo li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #ffffff34;
}

.dev {
    height: 70px;
    width: 85%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    /* font-family: var(--font2); */
}

.grupo_contato {
    height: 100%;
    width: 70%;

    display: flex;

}

.contato_dev {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grupo_contato img {
    height: 100%;
    border-radius: 50%;
    margin-right: 40px;
}

.grupo_contato h2 {
    font-size: 24px;
    /* font-family: var(--font2); */
    text-transform: capitalize;
}

.grupo_contato p {
    font-size: 14px;
}

.techs {
    width: 180px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.techs span {
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 20px;
    background-color: white;
    color: var(--azulP);
}

@media screen and (max-width: 827px) {
    .campo-label button{
        width: 29%;
    }
}
@media screen and (max-width: 801px) {
    .campo-label button{
        width: 28%;
    }
}
@media screen and (max-width: 763px) {
    .campo-label button{
        width: 27%;
    }
}
@media screen and (max-width: 725px) {
    .campo-label button{
        width: 26%;
    }
}
@media screen and (max-width: 695px) {
    .campo-label button{
        width: 25%;
    }
}
@media screen and (max-width: 668px) {
    .campo-label button{
        width: 24%;
    }
    .campo-label input{
        height: 10vh;
        width: 65%;
    }
}
@media screen and (max-width: 656px) {
    .wrapper_form label{
        font-size: 26px;
    }
}
@media screen and (max-width: 647px) {
    .campo-label button{
        padding-right: 0;
        padding-left: 0;
    }
}
@media screen and (max-width: 637px) {
    .wrapper_form label{
        font-size: 25.5px;
    }
    #lista-devs h1{
        font-size: 48px;
    }
}
@media screen and (max-width: 614px) {
    #lista-devs h1{
        font-size: 46px;
    }
    .wrapper_form label{
        font-size: 24px;
    }
}
@media screen and (max-width: 583px) {
    .campo-label input{
        padding: 5% 5% 5% 8%;
        font-size: 15px;
    }
    .wrapper_form label{
        font-size: 23px;
    }
    .campo-label button{
        font-size: 12.5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 549px) {
    #lista-devs h1{
        font-size: 42px;
    }
    .wrapper_form label{
        font-size: 22px;
        padding-bottom: 0;
        margin-top: 3%;
    }
    .campo-label input {
        height: 9.5vh;
        font-size: 14px;
        padding: 5% 5% 5% 6%;
    }
    .campo-label button{
        width: 75px;
    }
}
@media screen and (max-width: 516px) {
    #lista-devs h1{
        font-size: 39px;
    }
    .wrapper_form label{
        font-size: 21px;
        margin-top: 4%;
    }
    .campo-label button{
        font-size: 12px;
    }
}
@media screen and (max-width: 500px) {
    #lista-devs h1{
        font-size: 37px;
    }
    .wrapper_form label{
        font-size: 20px;
        margin-top: 4%;
    }
    .campo-label input {
        font-size: 13px;
    }

}
@media screen and (max-width: 476px) {
    .container_lista_devs{
        margin-left: 9.5%;
        margin-right: 9.5%;
    }

}
@media screen and (max-width: 460px) {
    .container_lista_devs{
        margin-left: 6%;
        margin-right: 6%;
    }
}
@media screen and (max-width: 444px) {
    .container_lista_devs{
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media screen and (max-width: 434px) {
    .campo-label input{
        height: 8.7vh;
    }
}
@media screen and (max-width: 416px) {
    .wrapper_form label{
        font-size: 19.5px;
        margin-top: 6%;
    }
    #lista-devs h1{
        font-size: 34px;
    }
}
@media screen and (max-width: 402px) {
    .wrapper_form label{
        font-size: 18.5px;
        margin-top: 7.5%;
    }
}
@media screen and (max-width: 410px) {
    .wrapper_form label{
        font-size: 18px;
    }
}
@media screen and (max-width: 382px) {
    .wrapper_form label{
        font-size: 17.5px;
    }
    #lista-devs h1{
        font-size: 32.5px;
    }
}
