/* MAIN */
.main_cadastro {
    /* background:
        linear-gradient(180deg, #060821 0%, #06082120 25%, #0608218f 80%, #060821 100%),
        url("../../assets/images/background_login.png"); */
    /* background-color: var(--cinzaclaro); */
    min-height: calc(100vh - 339px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    
}

/* .cad_conteudo{
    margin-top: 120vh;
} */

.main_cadastro .container_cad {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1vw; */
}

.main_cadastro .cad_conteudo {
    background: linear-gradient(114.61deg, #ffffff0d 1.08%, #ffffff1e 99.26%);
    box-shadow: 30px 30px 60px #00000080;
    border: 1px solid var(--cinzaclaro);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 100%;
    max-width: 783px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cinzaclaro);
    margin: 3% 0;
    padding-left: 1.9%;
    padding-right: 1.9%;
}

.main_cadastro h1 {
    /* font-family: var(--font1); */
    font-size: 40px;
    text-align: center;
}

.main_cadastro hr {
    margin: 0px auto;
    width: 80%;
    height: 4px;
    background-color: var(--rosa);
    border: none;
    border-radius: 50%;
}

.main_cadastro .cad_linha_checkbox {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.main_cadastro .cad_container_checkbox {
    width: 43px;
    position: relative;
}



.main_cadastro .cad_label {
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    background-color: var(--azulClaro);
    border-radius: 10px;
    box-shadow: none;
    transition: cubic-bezier(0.895, 0.07, 0.685, 0.68);
}


.card_box_org {
    
    display: flex;
    justify-content:space-evenly;
    
}

.main_cadastro .cad_formulario {
    width: 95%;
    max-width: 665px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* font-family: var(--font2); */
}



.main_cadastro .cad_box_input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 0;
}

.main_cadastro label {
    font-size: 16px;
}


.main_cadastro .cad_box_input>input {
    width: 100%;
    
    border-radius: 20px;
    border: 1px solid #b5b5b5;
    background: linear-gradient(136deg, #ffffff1a 0%, #ffffff0b 100%);
    /* box-shadow: 30px 30px 60px 0px #00000080; */
    backdrop-filter: blur(15px);
    color: var(--cinzaclaro);
    font-size: 15px;
}


.main_cadastro .cad_box_input>input:focus-visible {
    outline: 2px solid var(--azulClaro);
}

/* Cor de fundo do autocomplete */
.main_cadastro input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #524569 inset;
}

/* Cor do texto do autocomplete */
.main_cadastro input:-webkit-autofill {
    -webkit-text-fill-color: var(--cinzaclaro);
}


.main_cadastro .cad_box_input>input::placeholder {
    color: var(--cinzaclaro);
    
}

#nomeProjeto,#statusProjeto{
    padding: 9%;
}

#dataInicio,#dataConclusao{
    font-size: 15px;

}

#responsavel{
    padding: 8%;
}

.main_cadastro .cad_formulario>span {
    /* font-family: var(--font1); */
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}


/* @media screen and (max-width: 565px) {
    #h1 {
        font-size: 10px;
    }
} */