/* Main */
/* define os recuo dentro da area da main */
main
    { 
        padding: 10px 10px 10px 10px;
        /* margin-left: 20px; */
    }


.linha_sup_status 
    {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        margin-bottom: 1%;
        font-size: 20px;
    }


/* posiciona o texto "administrador/cadastro" */    
.linha_sup_esq
    {
        text-transform: capitalize;
        border-radius: 10px;      
         
        display: flex;            
        color: var(--cinzaclaro);
        font-size: 20px;

        /* display: flex;
        justify-content: space-evenly;*/

        padding: 10px;
        padding-top: 6px;
        /*flex-direction: row-reverse;     */ 
    }



.limiteformulario
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 1vh;
        width: 60vw;
        height: 80vh;

        border-top: 10px solid var(--azulC);
        border-bottom: 10px solid var(--azulC);
        border-left: 2px solid var(--cinzaclaro);
        border-right:  2px solid var(--cinzaclaro);
        justify-content: center;
        border-radius: 10px;
    }



.fotoNovoUsuario img
    {
        width: 12vw; /*define o tamanho do formulario 2% maior que os campo*/
        height: 22vh;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }    


.linha1 , /*coloca os campos input em linha*/
.linha2 ,
.linha3 ,
.linha4 ,
.linha5 
    {
        width: 60vw; /*define o tamanho do formulario */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } 



.linha1Coluna1 , /*define o espaçamentos entre as linhas*/
.linha1Coluna2 ,
.linha2Coluna1 ,
.linha2Coluna2 ,
.linha3Coluna1 ,
.linha3Coluna2 ,
.linha3Coluna3 ,
.linha4Coluna1 ,
.linha4Coluna2 ,
.linha4Coluna3 ,
.linha4Coluna4 ,
.linha5Coluna1 ,
.linha5Coluna2 
    { /*superior, direito, inferior, esquerdo*/
        padding: 1vh 2vw 1vh 2vw;
    }



.linha1Coluna1 label, /*define a configuração label dos campos input */
.linha1Coluna2 label,
.linha2Coluna1 label,
.linha2Coluna2 label,
.linha3Coluna1 label,
.linha3Coluna2 label,
.linha3Coluna3 label,
.linha4Coluna1 label,
.linha4Coluna2 label,
.linha4Coluna3 label,
.linha4Coluna4 label,
.linha5Coluna1 label,
.linha5Coluna2 label
    {  /*superior, direito, inferior, esquerdo*/
        padding: 1vh 0vw 0vh 3px;
        display: flex;
    }


.linha1Coluna1 input, /*define a configuração dos campos input */
.linha1Coluna2 input,
.linha2Coluna1 input,
.linha2Coluna2 input,
.linha3Coluna1 input,
.linha3Coluna2 input,
.linha3Coluna3 input,
.linha4Coluna1 input,
.linha4Coluna2 input,
.linha4Coluna3 input,
.linha4Coluna4 input,
.linha5Coluna1 input,
.linha5Coluna2 input
    {
      /*  border-radius: 15px;arredonda os campos de input 
        border: solid 1px;*/
        padding: 1vh 1vw 1vh 0vw;

        height: 30px;
        width: 250px;
        border-radius: 7px;
        border: solid 1px;
        text-indent: 5px;
        font-size: 15px;
        color: var(--cinzaclaro);
    }


.linha1Coluna1 input, /*define a configuração dos campos input */
.linha1Coluna2 input
    {
        width: 26vw; /*define o tamanho dos campos do formulario */    
    }


.linha2Coluna1 input,
.linha2Coluna2 input
    {
        width: 26vw; /*define o tamanho dos campos do formulario */    
    }


.linha3Coluna1 input,
.linha3Coluna2 input,
.linha3Coluna3 input
    {
        width: 16vw; /*define o tamanho dos campos do formulario */    
    }


.linha4Coluna1 input,
.linha4Coluna2 input,
.linha4Coluna3 input,
.linha4Coluna4 input
    {
        width: 11vw; /*define o tamanho dos campos do formulario */    
    }


.linha5Coluna1 input,
.linha5Coluna2 input
    {
        width: 26vw; /*define o tamanho dos campos do formulario */    
    }



/* Main */
/* Quando a resolução for menor que 820px esconde o campo de busca */
@media screen and (max-width: 750px) 
{

    .fotoNovoUsuario img
    {
        width: 18vw; /*define o tamanho do formulario 2% maior que os campo*/
        height: 20vh;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }  
    
 
}



/* Quando a resolução for menor que 760px esconde o campo de busca */
@media screen and (max-width: 550px) 
{

    .fotoNovoUsuario img
    {
        width: 18vw; /*define o tamanho do formulario 2% maior que os campo*/
        height: 20vh;
        display: flex;
        align-items: center;
        margin: 0 auto;
    } 

}


/* Quando a resolução for menor que 408px esconde o campo de busca */
@media screen and (max-width: 408px) 
{

    .fotoNovoUsuario img
    {
        width: 18vw; /*define o tamanho do formulario 2% maior que os campo*/
        height: 20vh;
        display: flex;
        align-items: center;
        margin: 0 auto;
    } 


    
}


/* Quando a resolução for menor que 408px esconde o campo de busca */
@media screen and (max-width: 370px) 
{
    
}