#menuGeral {
    position: fixed;
    top: 0;
    left: 0; 
    background: var(--cinza);
    width: 8vw;
    height: 12vh;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 900;
    font-family: var(--font);
    padding: 40px;
    
}

#conteudoMenu {
    position: fixed;
    background-color: rgba(0,0,0,0.35);
    backdrop-filter: blur(1px);
    z-index: 1;
}


.menuItens{
    height: 100vh;
    width: 100vw;
    /* background-color: rgba(0,0,0,0.65);
    backdrop-filter: blur(20px); */
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

#conteudoMenu a {
    /* width: 8vw; */
    /* height: 100vh; */
    /* background-color: rgba(0,0,0,0.35);
    border: #fff solid 2px; */
    /* color: var(--branco); */
    /* padding-bottom: 15%;
    padding-top: 25%; */
    /* font-size: 18px;
    text-decoration: none; */
    /* display: flex;  */
}


.menuTesteConteudo {
    height:100vh;
    width: 15vw;
    background-color: rgba(0,0,0,0.35);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
    /* border: #fff solid 2px; */
    padding-bottom: 15%;
    /* padding-top: 25%; */
    display: flex; 
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    text-align: center;
    padding-left: 23px;
    padding-right: 15px;
    
    
}

.menuTesteConteudo a {
    margin-top: 23%;
    
    color: var(--branco);
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    
}





/* Quando a resolução for menor que 1200px esconde o campo de busca */
/* @media screen and (max-width: 1200px) 
{
    #menuGeral {
        padding-left: 50px;
        padding-right: 50px; 
    }

    .menuTesteConteudo {
        align-items: center;
        text-align: center; 
        padding-left: 50px;
        padding-right: 50px; 
    }

} */


/* NOVA RESPONSIVIDADE */

/* 




@media screen and (max-width: 1224px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 10vw;
    }

}

@media screen and (max-width: 1040px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 12vw;
    }

}

@media screen and (max-width: 851px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 17vw;
    }

} */

@media screen and (max-width: 1073px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 17vw;
    }

}

@media screen and (max-width: 1025px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 18.5vw;
    }

}

@media screen and (max-width: 1001px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 19vw;
    }

}

@media screen and (max-width: 961px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 20vw;
    }

}

@media screen and (max-width: 901px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 21vw;
    }

}

@media screen and (max-width: 824px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 23vw;
        padding-right: 2%;
    }

}

@media screen and (max-width: 777px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 25vw;

    }

}

@media screen and (max-width: 664px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 26vw;
    }

}


@media screen and (max-width: 620px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 28vw;
    }

}

@media screen and (max-width: 591px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 30vw;
    }

}

@media screen and (max-width: 534px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 33vw;
    }

}

@media screen and (max-width: 528px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 35vw;
    }

}

@media screen and (max-width: 490px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 36vw;
    }

}
@media screen and (max-width: 468px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 38vw;
    }

}

@media screen and (max-width: 436px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 40vw;
    }

}

@media screen and (max-width: 419px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 42vw;
    }

}

@media screen and (max-width: 398px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 42vw;
    }

}

@media screen and (max-width: 386px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 43vw;
    }

}
@media screen and (max-width: 376px) 
{
    .menuTesteConteudo {
        height: 100vh;
        width: 45vw;
    }

}