@font-face {
    font-family: "Core Sans G";
    src: url(fonts\CoreSansG\CoreSansG-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    resize: none;
    font-family: sans-serif;

}


:root {
    --azulescuro: #405189;
    --branco: #ffffff;
    --azulClaro: #0073EA;
    --cinza: #2C2E3E;
    --cinzaclaro: #7C7C7C;
    --fonte1: 'Raleway', sans-serif;
    --fonte2: "Core Sans G";

}

/* menu */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: var(--font);
    overflow-x: hidden;
    overflow-y: hidden;

}


.right {

    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 83.8vw;

}

.topo {
    height: 12vh;
    width: 93.5vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azulescuro);

    align-items: center;
}

.alinhamento{
    padding-left:18px ;
}


.logo img {
    width: 180px;
    padding: 15px;
}

.pesquisa svg {

    position: absolute;
    color: var(--cinza);
    margin-left: 7px;
    margin-top: 7px;
    fill: var(--cinzaclaro);
}

.campotexto {
    width: 25vw;
    height: 30px;
    border-radius: 10px;
    padding-left: 40px;
    border: none;
}

.ricardo {
    display: flex;
    align-items: center;
    padding: 15px;
    color: var(--branco);
    fill: var(--branco);
}

main {
    height: 88vh;
    width: 100vw;
    display: flex;

}


/* menu */

.perfil_geral {
    height: 73vh;
    margin-top: 5%;
    padding-right: 15px;
}

.sinalizacao {
    color: var(--cinzaclaro);
}

.configconteudo {
    border: 1px solid var(--cinzaclaro);
    border-radius: 5px;
    border-top: 10px solid var(--azulClaro);
    border-bottom: 10px solid var(--azulClaro);
    
}

.input_style input {
    border: 1px solid var(--cinzaclaro);
    border-radius: 10px;
    height: 3.5vh;
    margin-right: 20px;
    color: var(--cinzaclaro);
}

.input1,
.input2,
.input3,
.input4,
.input5 {
    color: var(--cinzaclaro);
}

.conteudo_topo {
    display: flex;
    align-items: center;
    
}


.padrao_input {
    width: 50vw;
    display: flex;
    align-items: center;
    padding-bottom: 20px;

}

.s1 {
    padding-bottom: 30px;

}

.conteudo_topo img {
    width: 28%;
    height: 30%;
    padding: 30px 50px;
}


#name {
    width: 35vw;

}

#email {
    width: 35vw;;

}

.input3,
.input4
 {
    padding-left: 50px;
    padding-bottom: px;
}

.input5 {
    padding-left: 50px;
    padding-bottom: 50px;
}



.att {
    /* width: 50vw; */
    display: flex;
    flex-direction: column;
}

.att label {
    padding-bottom: 5px;
    padding-left: 3px;
}

.x1 {
    width: 18vw;
    padding-left: 20px;
}

.x2 {
    width: 10vw;
    /* padding-left: 30px; */
    margin-right: 130px;
}

.x2 #resp {
    width: 35vw;
    padding-left: 50px;
    
}

.att x2 {
    width: 0vw;
    padding-left: 0px;

}

att x3{
    padding-left: 30px;
}

.x3 {
    width: 15vw;
    /* padding-left: 30px; */

}

.att x5{

    margin: 64px;
}

#pais{

    
}


#cidade {
    width: 18vw;
    padding-right: 10px;
}

.pc {
    /* padding-left: 30px; */
}

.integ {
    padding-left: 0px;
}

#perfil,
#estado {
    width: 14vw;
}


.x4local {
    width: 50vw;
    padding-right: 300px;
}


#name,
#id,
#email,
#status,
#cargo,
#perfil,
#datai,
#estado,
#local {
    padding: 8px;
}

#cidade{

}

#pais{
    /* margin-left: 64px; */

}

#resp{
    padding: 8px;
    width: 33vw;
}

#depart{
    width: 14vw;
}

#cargo{
    width: 14vw;
}


.sinalizacao p {
    padding-left: 28px;
    padding-top: 20px;
}