
.topo {
    height: 12.2vh;
    width: 100vw;
    /*position: fixed;*/
    display: flex;
    justify-content:space-between;
    background-color: var(--azulescuro);
    align-items: center;
    padding-left: 12%;
}



.logo .teste {
    /* background: url("../../assets/Logo.png") no-repeat; */
    /* width: 18vw; */
    height: 55px;
    /* margin-top: 5px; */
    display: flex;
    align-items: center;
    /*margin-left: 150px;*/
    /* padding: 15px; */
} 




.pesquisa svg {
    display: none;
    position: absolute;
    color: var(--cinza);
    margin-left: 7px;
    margin-top: 7px;
    fill: var(--cinzaclaro);
    display: none;
}

.campotexto{
    width: 25vw;
    height: 30px;
    border-radius: 10px;
    padding-left: 40px;
    border: none;
    display: none;
}

.perfil {
    height: 100%;
    width: 23%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1%;
    color: var(--branco);
    fill: var(--branco);
}

.fotoperfil {
    background: url("../../assets/Ricardo.png") no-repeat;
    width: 6vw;
    height: 10vh;

}



.perfil p {
    padding-right: 9px;
    font-weight: 600;
}

.perfil a {
    padding-right: 9px;
    font-weight: 600;
    color: var(--branco);
    text-decoration: none;
}



/* Quando a resolução for menor que 1200px esconde o campo de busca 
@media screen and (max-width: 800px) 
{
    .a {
        display: none;
    }

}*/

@media screen and (max-width:1062px){
    .perfil{
        height: 100%;
        width: 23%;
        display: flex;
        justify-content: space-between;
    }

    
}

@media screen and (max-width:958px){
    .perfil{
        height: 100%;
        width: 26%;
    }
}

@media screen and (max-width:933px){
    .fotoperfil{
        width: 7vw;
        height: 10vh;

    }
}

@media screen and (max-width:857px){
    .perfil{
        height: 100%;
        width: 27%;
    }
}

@media screen and (max-width:808px){
    .perfil{
        height: 100%;
        width: 30%;
    }
}

@media screen and (max-width:790px){
    .fotoperfil{
        width: 9vw;
        height: 10vh;

    }
}

@media screen and (max-width:725px){
    .perfil{
        height: 100%;
        width: 34%;
    }
}

@media screen and (max-width:625px){
    .perfil{
        height: 100%;
        width: 39%;
    }
}

@media screen and (max-width:620px){
    .fotoperfil{
        width: 12vw;
        height: 10vh;

    }
}


@media screen and (max-width:552px){
    .perfil{
        height: 100%;
        width: 43%;
    }
}

@media screen and (max-width:1092px){
    .teste{
        padding-left: 5%;
    }
}

@media screen and (max-width:963px){
    .teste{
        padding-left: 14%;
    }
}

@media screen and (max-width:853px){
    .teste{
        padding-left: 27%;
    }
}

@media screen and (max-width:586px){
    .teste{
        padding-left: 33%;
    }
}

@media screen and (max-width:586px){
    .perfil a{
        display: none;
        width: 25%;
    }

    .perfil{
        display: flex;
        justify-content: right;
    }
}

@media screen and (max-width:573px){
    .fotoperfil{
        width: 15vw;
        height: 10vh;

    }
}


@media screen and (max-width:460px){
    .fotoperfil{
        width: 12vw;
        height: 10vh;
        display: none;
    }

    .perfil {
        height: 100%;
        width: 14%;
    }

    .teste {
        padding-left: 43%;
    }

}

@media screen and (max-width:397px){
    .teste{
        padding-left: 47%;
    }
}
