body {
    background: #eaeaea;
    text-align: center;
  }
  
  /* .wrapper .header {
    background: #29a5d8;
  }
   */
  /* .wrapper .title {
    padding: 50px 0;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
  } */
  
  .wrapper .search_box {
    max-width: 65vw;
    /* background: #29a5d8; */
    /* background: var(--azulescuro); */
    margin: 0 auto;
    padding: 50px 0 25px;
    border-radius: 3px;
  }
  
  .wrapper .search_box input {
    border: 0;
    border-bottom: 2px solid var(--azulescuro);
    width: 100%;
    outline: none;
    padding: 10px;
    background: transparent;
    color: var(--cinzaclaro);
    font-size: 16px;
  }
  
  ::placeholder {
    color: var(--cinzaclaro);
  }
  
  /* .wrapper .search_box input:focus {
    border-bottom: 2px solid var( --azulescuro);
  } */
  
  .table_wrap {
    width: 65vw;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .table_wrap ul li .item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin: 0 20px; */
    /* flex-direction: column; */
    background: #fff;
    /* padding: 0px 10px; */
    height: 8vh;
    /* height: 50px; */
  }

  .item {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .table_wrap ul li .item .id,
  .table_wrap ul li .item .grupo {
    width: 40%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .table_wrap ul li .item .grupo {
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }

  .table_wrap ul li .item .status {
    width: 20%;
    padding: 0 20px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
  }


  .table_wrap ul li .item .responsavel {
    /* width: 20%; */
    padding: 0 20px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
  }
  
  
  .table_wrap ul li .item .nome {
    width: 45%;
    padding: 0 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* text-align: left; */
  }
  
  .table_wrap ul li .item .cronograma {
    width: 45%;
    padding: 0 20px;
    /* display: flex;
    justify-content: center; */
  }

  .table_wrap ul li .item .nome span,
  .table_wrap ul li .item .id span {
    width: 90%;
    white-space: nowrap;
    /* display: flex; */
    /* justify-content: center;
    text-align: center; */
    /* align-items: center; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
  }

  .table_wrap .nome span {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
  }
  
  .table_header ul li .item {
    border-bottom: 2px solid #eaeaea;
    font-weight: 600;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */

  }
  
  .table_body {
    /* height: 300px; */
    overflow: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
  }
  
  .table_body ul li .item {
    border-bottom: 1px solid #efefef;
    /* padding: 5px 20px; */
  }
/* 
  .status span .andamento .concluido .cancelado {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  } */

  .table_body ul li .item .status span {
    padding: 5px 20px;
    border-radius: 25px;
    width: 8vw;
    /* max-width: 100%; */
     /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; */
  }

  .table_body ul li .item .responsavel span {
    /* padding: 0px 15px; */
    border-radius: 25px;
    /* max-width: 115px; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    }
  
  .table_body ul li .item .open {
    background: #e5edfa;
    color: #5a8ee4;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; */
  }
  
  .table_body ul li .item .concluido {
    background: #cff1f0;
    color: #0dbeb6;
  }
  
  .table_body ul li .item .cancelado {
    background: #fedfe5;
    color: #ff89a0;
  }
  
  .table_body ul li .item .andamento {
    display: flex;
    background: #fff0db;
    color: #f59d39;
  }
/*   
  .table_body ul li .item .reopened {
    background: #d6f2ff;
    color: #29a5d8;
  }
  
  .table_body ul li .item .canceled {
    background: #ffdbd6;
    color: #e87060;
  }
   */

   ::marker {
    font-size: 0;
   }

/* 
   .moises .status > span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background-color: aqua;
   } */

   .ajuste_alinhamento_status {
    width: 20vw;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* align-content: center; */
   }